In [1]:
from config import API_KEY

from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators

import pandas as pd

# import matplotlib.pyplot as plt
# %matplotlib inline

In [2]:
ts = TimeSeries(key=API_KEY, output_format='pandas')
ti = TechIndicators(key=API_KEY, output_format='pandas')

In [3]:
ntnx, meta_data = ts.get_intraday('NTNX', interval='15min', outputsize='compact')

In [4]:
ntnx.head()

                     1. open  2. high  3. low  4. close  5. volume
date
2019-09-10 11:30:00  26.1411  26.2202  26.055   26.0611   220902.0
2019-09-10 11:15:00  26.0000  26.1832  26.000   26.1300   199526.0
2019-09-10 11:00:00  25.9900  26.0800  25.920   26.0000   230592.0
2019-09-10 10:45:00  25.7005  26.0132  25.690   25.9805   382522.0
2019-09-10 10:30:00  25.6233  25.8000  25.620   25.7008   138131.0

In [6]:
ntnx.drop(columns='5. volume', inplace=True)

In [7]:
# Sort with oldest date on top
ntnx.sort_index(ascending=True, inplace=True)

In [8]:
# If converting index to datetime, run the following
# For some reason, the plot funciton did not work as well on datetime index
# ntnx.index = pd.to_datetime(ntnx.index)

In [9]:
ntnx = ntnx.rename(columns={"1. open": "open",
                            "2. high": "high",
                            "3. low": "low",
                            "4. close": "close"})

The next steps would be to grab the indicator data from the API, clean it up and join it with the price data on the date column.<br>
Once the transfer to psql is confirmed with this test, implement the above actions as part of the pipeline.